.promotionsContainer{ 
    width: 100%;
    min-height: 1104px;
    display: block;
    padding-left: 64px;
    border-left: solid 1px #d4d4d4;
    border-right: solid 1px #d4d4d4;
    padding-right: 64px;
    padding-top: 32px;
}
 
li:active {
    color: #c0311a;
  }

li:focus {
    text-align: center;
    color: #c0311a;
    text-decoration: none;
  }
:target {
    color: #c0311a;
}
li.active{
  color: #c0311a !important;
}



.category-heading {
        width: 100%;
    height: 24px;  
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.42;
    letter-spacing: normal;
    text-align: center;
    color: #63666a;
    margin-bottom: 16px;
  }
  .category-tab{
      width: 952px;
      height: 288px;
      border-radius: 0 0 10px 10px;
      padding: 16px 24px;
      background-color: #ffffff;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.16);
      margin-bottom: 32px;
  }
  .category-tab:last-child{
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .all-categories-tab{
    width: 952px;
    min-height: 864px;   
    padding: 16px 24px;
    background-color: #ffffff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.16);
    margin-bottom: 32px;
  }
  .all-categories-tab:last-child{
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .product-category {
    width: 168px;
    height: 256px;
    background-color: #ffffff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.04);
    margin: 0 16px 16px 0;
    float: left;
    padding: 0;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
  
  }
  .product-category:nth-child(5n) {
    margin: 0 0 0 0;
  }
  .productConatiner{
    list-style-type: none;
    padding: 0;
    margin: 0;    
  }
  .productDetails{
      width: 100%;
      padding: 28px 36px;
      height: 192px;
      background-color: rgba(212, 212, 212, 0.3);
  }
 
   .category-name {
    height: 64px;  
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    padding-top: 17px;
  }

  /* TAB -2 STYLES */
  .iconsback{
    float: left;
    cursor: pointer;
  }

  .offer-strip{
    background-color: #c0311a;
    font-size: 12px;
    text-align: center;
    color: #ffffff;
    width: 132px;
      position: absolute;
    border-radius: 20px;
    padding: 5px 16px;
    margin-left: 18px;
    margin-top: -17px;
  }
  
  .category-price{
    height: 44px;
   text-align: center;
   font-weight: bold;
    color: #000000;
    margin-top: 9px;
  }
  .p-from{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.86;
    padding-right: 5px;
  }
  .p-price{
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    color: #c0311a;
    
  
  }
  .p-icon{
    padding-right: 5px;
  }
  .productConatiner1{
    list-style-type: none;
    padding: 0;
    margin: 0;    
  }
  .productDetails1{
      width: 100%;
      padding: 20px 8px 36px 36px;
      height: 164px;
      background-color: rgba(212, 212, 212, 0.3);
  }
  .product-category1 {
    width: 168px;
    height: 256px;
    background-color: #ffffff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.04);
    float: left;
    padding: 0;
    border-radius: 0 0 10px 10px;
    margin-right: 27px;
  
  }
  .category-name1 {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  height: 48px;
  padding-top: 8px;
  }
  .promotions-tab2{
    width: 100%;
    min-height: 1104px;
    display: block;
    padding-left: 88px;
    border-left: solid 1px #d4d4d4;
    border-right: solid 1px #d4d4d4;
    padding-right: 88px;
    padding-top: 32px;
  }
  .category-tab1{

    height: 288px;  
    padding: 28px 24px;
  background-color: #ffffff;
    margin-bottom: 32px;
}