<div class="promotionsContainer" *ngIf="displayPromotions">
  <div>
    <div class="category-heading">Bestsellers</div>
    <div class="category-tab">
      <ul class="productConatiner">
        <li class="product-category" (click)="getCategory();">
          <div class="productDetails">
            <img src="../assets/brands/Image-placeholder_9.jpg" width="96px" height="136px">
          </div>
          <div class="category-name">Marlboro</div>
        </li>
        <li class="product-category" (click)="getCategory();">
          <div class="productDetails">
            <img src="../assets/brands/Image-placeholder_10.jpg">

          </div>
          <div class="category-name">
            Chung Hwa
          </div>
        </li>
        <li class="product-category" (click)="getCategory();">
          <div class="productDetails">

            <img src="../assets/brands/Image-placeholder_11.jpg">
          </div>
          <div class="category-name">
            Camel
          </div>
        </li>
        <li class="product-category" (click)="getCategory();">
          <div class="productDetails">

            <img src="../assets/brands/Image-placeholder_12.jpg">

          </div>
          <div class="category-name">
            Panda
          </div>
        </li>
        <li class="product-category" (click)="getCategory();">
          <div class="productDetails">

            <img src="../assets/brands/Image-placeholder_13.jpg">

          </div>
          <div class="category-name">
            Sheng Xiao
          </div>
        </li>

      </ul>
    </div>
    <div class="category-heading">All Brands</div>
    <div class="all-categories-tab">
      <ul class="productConatiner">
        <li class="product-category">
          <div class="productDetails">

            <img src="../assets/brands/Image-placeholder.jpg">
          </div>
          <div class="category-name">
            Alfred Dunhil
          </div>
        </li>
        <li class="product-category">
          <div class="productDetails">

            <img src="../assets/brands/Image-placeholder_3.jpg">

          </div>
          <div class="category-name">
            Amber Leaf
          </div>
        </li>
        <li class="product-category">
          <div class="productDetails">

            <img src="../assets/brands/Image-placeholder_4.jpg">

          </div>
          <div class="category-name">
            American Spirits
          </div>
        </li>
        <li class="product-category">
          <div class="productDetails">

            <img src="../assets/brands/Image-placeholder_5.jpg">

          </div>
          <div class="category-name">
            Benson & Hedges
          </div>
        </li>
        <li class="product-category">
          <div class="productDetails">

            <img src="../assets/brands/Image-placeholder_14.jpg">

          </div>
          <div class="category-name">
            Diao Yu Tai
          </div>
        </li>
        <li class="product-category">
          <div class="productDetails">

            <img src="../assets/brands/Image-placeholder_8.jpg">

          </div>
          <div class="category-name">
            Sheng Xiao
          </div>
        </li>
        <li class="product-category">
          <div class="productDetails">

            <img src="../assets/brands/Image-placeholder_8.jpg">

          </div>
          <div class="category-name">
            Sheng Xiao
          </div>
        </li>
        <li class="product-category">
          <div class="productDetails">

            <img src="../assets/brands/Image-placeholder_8.jpg">

          </div>
          <div class="category-name">
            Sheng Xiao
          </div>
        </li>
        <li class="product-category">
          <div class="productDetails">

            <img src="../assets/brands/Image-placeholder_8.jpg">

          </div>
          <div class="category-name">
            Sheng Xiao
          </div>
        </li>
        <li class="product-category">
          <div class="productDetails">

            <img src="../assets/brands/Image-placeholder_8.jpg">

          </div>
          <div class="category-name">
            Sheng Xiao
          </div>
        </li>
        <li class="product-category">
          <div class="productDetails">

            <img src="../assets/brands/Image-placeholder_8.jpg">

          </div>
          <div class="category-name">
            Sheng Xiao
          </div>
        </li>
        <li class="product-category">
          <div class="productDetails">

            <img src="../assets/brands/Image-placeholder_8.jpg">

          </div>
          <div class="category-name">
            Sheng Xiao
          </div>
        </li>
        <li class="product-category">
          <div class="productDetails">

            <img src="../assets/brands/Image-placeholder_8.jpg">

          </div>
          <div class="category-name">
            Sheng Xiao
          </div>
        </li>
        <li class="product-category">
          <div class="productDetails">

            <img src="../assets/brands/Image-placeholder_8.jpg">

          </div>
          <div class="category-name">
            Sheng Xiao
          </div>
        </li>
        <li class="product-category">
          <div class="productDetails">

            <img src="../assets/brands/Image-placeholder_8.jpg">

          </div>
          <div class="category-name">
            Sheng Xiao
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div *ngIf="promotionCategory" class="promotions-tab2">
  <img src="../assets/body/back.png" class="iconsback" (click)="back();" width="32px" height="32px">
  <div class="category-heading">Marlboro</div>
  <div class="category-tab1">
    <ul class="productConatiner1">
      <li class="product-category1">
        <span class="offer-strip">Buy 2 save 10%</span>
        <div class="productDetails1">
          <img src="../assets/brands/Image - placeholder@2x.png" width="96px" height="136px">
        </div>
        <div class="category-name1">Marlboro Flavour Mix</div>
        <div class="category-price">
          <span class="p-from">from</span>
          <span class="p-icon">USD</span>
          <span class="p-price">$59.95</span>
        </div>
      </li>
      <li class="product-category1">
        <span class="offer-strip">Buy 2 save 10%</span>
        <div class="productDetails1">
          <img src="../assets/brands/marlboro.png" width="96px" height="136px">
        </div>
        <div class="category-name1">Marlboro Gold</div>
        <div class="category-price">
          <span class="p-from">from</span>
          <span class="p-icon">USD</span>
          <span class="p-price">$59.95</span>
        </div>
      </li>
    </ul>
  </div>

</div>