.typesContainer{
    width: 100%;
    min-height: 1104px;
    display: block;
    border-left: solid 1px #d4d4d4;
    border-right: solid 1px #d4d4d4;
    padding-top: 32px;
    padding-right: 20px;
   
    }

    
.types-division {
    width: 420px;
  height: 292px;
  background-color: #ffffff;
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.16);
   border-radius: 0 0 10px 10px;
   margin-left: 64px;
   margin-right: 45px;
   float: left;
   margin-bottom: 64px;
  
  }
  .type-name{
    height: 72px;
    font-size: 24px;
    font-weight: bold;
   text-align: center;
    color: #000000;
    padding-top: 18px;
  }

  .type-image{
    width: 372px;
    height: 244px;
    /* background-color: rgba(212, 212, 212, 0.3); */
    margin: 24px;
    background-color: #ffffff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.04);
    border-radius: 0 0 10px 10px;
    
  }
  .image-div{
    width: 100%;
    height: 172px;
    background-color: rgba(212, 212, 212, 0.3);
  }
  /* TAB 2 STYLE STARTS HERE */
  .bestSellerContainer{
    width: 100%;
    min-height: 1104px;
    display: block;
    border-left: solid 1px #d4d4d4;
    border-right: solid 1px #d4d4d4;
    padding-top: 32px;
    padding-right: 64px;
    padding-left: 64px;
    
    }
    
    
    .category-heading {
    width: 100%;
    height: 24px;  
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.42;
    letter-spacing: normal;
    text-align: center;
    color: #63666a;
    margin-bottom: 16px;
    }
    .category-tab{
        width: 952px;
        height: 288px;
      border-radius: 0 0 10px 10px;
      padding: 16px 24px;
      background-color: #ffffff;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.16);
      margin-bottom: 32px;
    }
    
    .product-category {
        width: 168px;
        height: 256px;
        background-color: #ffffff;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.04);
        float: left;
        padding: 0;
        border-radius: 0 0 10px 10px;
      
      }
    
      .productConatiner{
        list-style-type: none;
        padding: 0;
        margin: 0;    
      }
      .productDetails{
          width: 100%;
          padding: 20px 8px 36px 36px;
          height: 164px;
          background-color: rgba(212, 212, 212, 0.3);
      }
      li:first-child{
          margin-right: 36px;
      }
       .category-name {
        height: 48px;
        width: 168px;
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
        margin-top: 4px;
        line-height:1.4
    
      }
      .category-price{
        height: 44px;
       text-align: center;
       font-weight: bold;
        color: #000000;
        margin-top: 9px;
      }
      .p-from{
        font-size: 14px;
        font-weight: 500;
        line-height: 1.86;
        padding-right: 5px;
      }
      .p-price{
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.44;
        letter-spacing: normal;
        text-align: center;
        color: #c0311a;
        
      
      }
      .p-icon{
        padding-right: 5px;
      }
      .offer-strip{
        background-color: #c0311a;
        font-size: 12px;
        text-align: center;
        color: #ffffff;
        width: 132px;
          position: absolute;
        border-radius: 20px;
        padding: 5px 16px;
        margin-left: 18px;
        margin-top: -17px;
      }

      .row{
          margin: 0px;
      }
.second-heading{
      float: left;
      width: 95% !important;
      margin-bottom: 32px !important;
}