<!-- CART STARTS HERE -->
<div class="cart-part">
    <div class="strip-div">
        <img src="/assets/footer/footer-strip.png" class="footer-strip">
    </div>
    <div class="row">
        <div class="col-8 cart-img">
            <img class="Cart-Icon" src="/assets/footer/CartIcon.png" width="48px" height="48px">
            <p class="Cart">Cart</p>

        </div>
        <div class="col-4 price">
            <p class="Total">Total</p>
            <p class="total-price">USD $00.00</p>
        </div>
    </div>
</div>
<!-- CART ENDS HERE -->
<div class="footer-main">
    <footer>
        <div class="footer-part">In order to browse and purchase tobacco products, you need to be of 21 years of age.</div>
    </footer>
</div>