.brandsContainer{
    width: 100%;
    min-height: 1104px;
    display: block;
    padding-left: 64px;
    border-left: solid 1px #d4d4d4;
    border-right: solid 1px #d4d4d4;
    padding-right: 64px;
    padding-top: 32.5px;
}
 .brands-filters{
        width: 900px;
        height: 79.5px;
        opacity: 0.8;
        border-radius: 40px;
        background-color: #ffffff;
        border: solid 1px #d4d4d4;
        margin-left: 26px;
        margin-right: 26px;
        cursor: pointer;
            margin-bottom: 32px;
       
    }    
.subModules{
    margin-left: 17px;
    padding: 0;
    color: #63666a;
    width: 100%;
    }
.subModules  li{
    width: 140px;
    height: 48px;
    border-right: solid 1px #d4d4d4;
    display:inline-table;
    padding: 15.5px 7px 16px 8px;
    text-align: center; 
    object-fit: contain;  
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.96;
    letter-spacing: normal;
    text-align: center;
    color: #63666a;
    justify-content: center;
    margin: 0 auto;
    

}

.subModules li:last-child{
    border: none;
}

li:active {
    color: #c0311a;
  }

li:focus {
    text-align: center;
    color: #c0311a;
    text-decoration: none;
  }
:target {
    color: #c0311a;
}
li.active{
  color: #c0311a !important;
}



.category-heading {
        width: 100%;
    height: 24px;  
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.42;
    letter-spacing: normal;
    text-align: center;
    color: #63666a;
    margin-bottom: 16px;
  }
  .category-tab{
      width: 952px;
      height: 288px;
      border-radius: 0 0 10px 10px;
      padding: 16px 24px;
      background-color: #ffffff;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.16);
      margin-bottom: 32px;
  }
  .category-tab:last-child{
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .all-categories-tab{
    width: 952px;
    min-height: 576px;
   
    padding: 16px 24px;
    background-color: #ffffff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.16);
    margin-bottom: 32px;
  }
  .all-categories-tab:last-child{
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .product-category {
    width: 168px;
    height: 256px;
    background-color: #ffffff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.04);
    margin: 0 16px 16px 0;
    float: left;
    padding: 0;
    border-radius: 0 0 10px 10px;
  
  }
  .product-category:nth-child(5n) {
    margin: 0 0 0 0;
  }
  .productConatiner{
    list-style-type: none;
    padding: 0;
    margin: 0;    
  }
  .productDetails{
      width: 100%;
      padding: 28px 36px;
      height: 192px;
      background-color: rgba(212, 212, 212, 0.3);
  }
 
   .category-name {
    height: 64px;  
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    padding-top: 17px;
  }
  .iconsback{
    float: left;
    cursor: pointer;
  }

  